/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --main-font: "IBM Plex mono";
  --main-font-size: 18px;
  --background-image: url(../images/cover-image-dark.png);
  --accent-color: #ff0070;
  --main-bg-color: #000028;
  --main-gap: 10px;
  --main-line-height: 1.3;
  --header-title-line-height: 83%;
  --header-text-color: #db00ff;
  --title-decor: #ff0070;
  --button-border-color: #ff0070;
  --button-text-color: #ff0070;
  --button-text-color-hover: #ff007066;
  --decorated-zone-color: #ff0070;
  --buttons-font-size: 18px;
  --buttons-gap: 10px;
  --buttons-margin-inline-end: 6px;
  --buttons-margin-block-start: 3px;
  --text-link-hover-color: #f1b2ce;
  --title-text-color: #000028;
  --paragraph-text-color: #f1b2ce;
  --concentration-heading-color: #ff0070;
  --thin-font-weight: 400;
  --bold-font-weight: 700;
  --header-margin-inline-start: 10px;
  --header-margin-inline-end: 10px;
  --header-margin-inline-end: 10px;
  --question-margin-inline-start: 10px;
  --question-margin-inline-end: 10px;
  --concentration-heading-margin-block-start: 40px;
  --concentration-content-margin-block-start: 20px;
  --concentration-text-margin-block-start: 10px;
  --concentration-heading-reduces-margin-block-start: 50px;
  --titles-recommendations-margin-block-start: 20px;
  --images-section-margin-block-start: 50px;
  --image-content-margin-block-start: 10px;
  --footer-text-color: #db00ff;
  --footer-heading-shadow-color: #ff0070;
  --footer-margin-block-start: 40px;
  --footer-heading-margin-block-start: 14px;
  --footer-heading-margin-block-end: 13px;
}
