/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --main-font: 'IBM Plex mono';
  --main-font-size: 18px;
  --dark-background-image: url(../images/cover-image-dark.png);
  --accent-color: #FF0070;
  --main-bg-color: #000028;
  --main-gap: 10px;
  --main-line-height: 1.3;
  --header-text-color: #DB00FF;
  --title-decor: #FF0070;
  --title-text-color: #000028;
  --paragraph-text-color: #F1B2CE;
}
